* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    background-color: #ffe44d;

}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 50px;
    background-color: #444;
    border-radius: 30px;
}

.container .toggle .toggle-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;  
    transition: ease-in-out 0.3s;
}

.container .text {
    position: absolute;
    left: 95px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.container .toggle.active {
    background-color: aqua;
}

.container .toggle.active .toggle-button {
    left: 45px;
}

.index {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.index.active {
    background-color: blue;
}

button {
    width: 100px;
    height: 30px;
    background-color: cadetblue;
    cursor: pointer;
    border-radius: 20px;
    margin: 25px;
}

input {
    cursor: pointer;
}

/* Edit/Done Button Styles Start */
 
  #container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  #edit {
    padding: 5px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .edit-btn {
    width: 80px;
    padding: 5px;
    margin: 0 3px;
    background-color: #ff7e00;
    outline: none;
    border: 1px solid #ff7e00;
    box-shadow: 2px 2px 2px #3f3f3f;
  }
  
  .edit-btn:hover {
    box-shadow: 2px 2px 3px ;
  }
  
  .edit-btn:active {
    box-shadow: 1px 1px 3px ;
  }
  
/* Edit/Done Button Styles End */