/* Animation Styles Start */
/* 1 rem = 16 pixels */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6aedf;
}

.card {
    transform-style: preserve-3d;
    min-height: 450px;
    width: 500px;
    border-radius: 30px;
    padding: 0px 80px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.emoji {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emoji img {
    width: 300px;
    z-index: 2;
    transition: all 0.75s ease-out;
    cursor: pointer;
}

.circle {
    height: 240px;
    width: 240px;
    background: linear-gradient(
        to right,
        rgba(245, 70, 66, 0.75),
        rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h3 {
    padding: 16px 0px;
    color: #474545;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.title {
    font-size: 40px;
    transition: all 0.75s ease-out;
}

.moods {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}

.moods button {
    padding: 8px 16px;
    background: none;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}

button.active {
    background-color: #9c9b9b;
    color: white;
}

.change {
    margin-top: 20px;
    margin-bottom: 16px;
}

.change button {
    width: 100%;
    padding: 16px 0px;
    background-color: #7567bb;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;
    transition: all 0.75s ease-out;
}