@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

/* Styles Start From Here */

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 224, 216);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(195, 199, 198);
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    padding: 20px;
    background-color: rgb(131, 143, 139);
}

.header h3 {
    margin: 0;
}

.form {
    padding: 20px;
}

.formControl {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.formControl label {
    display: inline-block;
    margin-bottom: 5px;
}

.formControl input {
    border: solid 1px #d8d7d7;
    border-radius: 4px;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.formControl.success input {
    border-color: rgb(63, 243, 63);
}

.formControl.error input {
    border-color: red;
}

.formControl i {
    position: absolute;
    top: 32px;
    right: 10px;
    visibility: hidden;
}

.formControl.success i.fa-check-circle {
    visibility: visible;
    color: rgb(63, 243, 63);
}

.formControl.error i.fa-exclamation-circle {
    visibility: visible;
    color: red;
}

.formControl small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.formControl.error small {
    visibility: visible;
    color: red;
}

.form button {
    background-color: rgb(50, 114, 93);
    border: solid 1px rgb(10, 78, 56);
    border-radius: 4px;
    color: white;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

